body {
  width: 100vw;
  height: 100vh;
  background-color: aqua; }

@media (min-width: 768px) {
  h1 {
    display: flex;
    justify-content: center; }
  div {
    display: flex;
    justify-content: center;
    height: auto;
    width: auto; }
  .foto {
    height: 300px;
    width: auto;
    display: flex;
    justify-content: center; }
  h3 {
    display: flex;
    justify-content: center; }
  li {
    display: flex;
    justify-content: center; }
  h4 {
    display: flex;
    justify-content: center; } }

@media (min-width: 1100px) {
  header h1 {
    display: flex;
    justify-content: flex-start; }
  header .foto {
    display: flex;
    justify-content: flex-start; }
  div {
    display: flex;
    justify-content: left; }
  h3 {
    display: flex;
    justify-content: left; }
  li {
    display: flex;
    justify-content: left; }
  h4 {
    display: flex;
    justify-content: left; } }
