body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(204, 248, 248);
    font-family: 'Girassol', cursive;
    box-sizing: border-box;
}



header {
    position: relative;
    border-bottom: 1px solid rgb(255, 167, 167);
    padding: 16px;
}

header .foto {
    position: absolute;
    right: 1%;
    top: 1%;
}


.foto {
    width: 90px;
    height: 80px;
}

.foto img {
    width: 100%;
    height: auto;
}

footer{
    background-color: rgb(248, 231, 211);
}
